.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
out/
logs/
test_artifacts/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/test_artifacts/
test_artifacts/**
/classes/

**/.DS_Store
### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
data/
/src/main/java/com/bcg/pt/core/scenario/models/Scenario.java

tmp/
docker/flyway/config/*.sql
docker/flyway/sql/*
docker/mssql/config/*.sql
docker/logstash/config/*.json